body {
    color: #DFEEEE;
}
.animeImage {
    height: 75%;
    width: auto;
    border-radius: 3px;
    margin-top:5px;
}
.backButton {
    position: absolute;
    right: 10px;
    top:13px;
}
.homeImg{
    height: 30px;
    width: 33px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-center{
    justify-content: space-evenly;
    justify-items: center;
}
.titleBar{
    background-color: #8961EE;
    box-shadow: 5px 5px 8px 1px black;
    border-radius: 3px;
    padding: 8px;
    padding-bottom: 10px;
    justify-content: space-between;
}
#anime-content{
    width: 100vw;
    height: 80vh;
}
.anime-syn{
    width: 60%;
}
a{
    color: white;
}
a:hover{
    color: #a7a499;
}

.btn {
    padding: 7px;
    width: 180px;
    background-color: grey;
    text-align: center;
}

.btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.page-buttons {
    display: flex;
    justify-content: space-evenly;
}