.card {
    height: 200px;
    width: 150px;
    margin: 5px;
    margin-bottom: 40px;
    border: 0 solid transparent;
}

.card:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.card-image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.card-title {
    text-align: center;
    color: white;
    font-weight: normal;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
}
